<mat-card>
  <mat-card-title> {{ title }} </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="f-row">
        <mat-form-field class="two-on-row" [owlDateTimeTrigger]="dtStart">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dtStart"
            placeholder="{{ 'wl.startDateTime' | translate }}"
            [min]="minDate"
            formControlName="startDate"
            id="startDate"
            readonly
          />
          <owl-date-time #dtStart [pickerType]="'calendar'"></owl-date-time>
        </mat-form-field>

        <mat-form-field class="two-on-row" [owlDateTimeTrigger]="endDate">
          <input
            class="form-control"
            matInput
            [owlDateTime]="endDate"
            placeholder="{{ 'wl.startDateTime' | translate }}"
            [min]="minDate"
            formControlName="endDate"
            id="endDate"
            readonly
          />
          <owl-date-time #endDate [pickerType]="'calendar'"></owl-date-time>
        </mat-form-field>
      </div>

      <div class="f-row">
        <mat-slide-toggle #mT class="three-on-row" [fomrControl]="monday"
          >понеделник</mat-slide-toggle
        >

        <mat-form-field class="five-on-row" [owlDateTimeTrigger]="dt1">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dt1"
            placeholder="{{ 'wl.startDateTime' | translate }}"
            [min]="minDate"
            formControlName="monStart"
            id="monStart"
            readonly
          />
          <owl-date-time
            [disabled]="!mT.checked"
            #dt1
            [pickerType]="'timer'"
          ></owl-date-time>
        </mat-form-field>

        <mat-form-field class="five-on-row" [owlDateTimeTrigger]="dt2">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dt2"
            placeholder="{{ 'wl.startDateTime' | translate }}"
            [min]="minDate"
            formControlName="monEnd"
            id="monEnd"
            [pickerType]="'timer'"
            readonly
          />
          <owl-date-time
            [disabled]="!mT.checked"
            #dt2
            [pickerType]="'timer'"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-slide-toggle formControlName="tuesday">вторник</mat-slide-toggle>
      </div>
      <div class="row">
        <mat-slide-toggle formControlName="wednesday">сряда</mat-slide-toggle>
      </div>
      <div class="row">
        <mat-slide-toggle formControlName="thursday"
          >четвъртък</mat-slide-toggle
        >
      </div>
      <div class="row">
        <mat-slide-toggle formControlName="friday">петък</mat-slide-toggle>
      </div>
      <div class="row"></div>
      <div class="row"></div>

      <div class="button-bar">
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="close()"
        >
          <mat-icon>close</mat-icon>{{ "wl.cancel" | translate }}
        </button>
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="reset()"
        >
          <mat-icon>clear_all</mat-icon>{{ "wl.reset" | translate }}
        </button>
        <button mat-raised-button type="submit" color="primary">
          {{ "wl.submit" | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
  <pre>{{ addForm.value | json }}</pre>
</mat-card>
