<mat-card>
  <mat-card-title> {{ title }} {{ groupHeader$ | async }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="f-row">
        <mat-form-field class="two-on-row">
          <mat-select
            #gSel
            placeholder="{{ 'wl.select_group' | translate }}"
            formControlName="group"
            (selectionChange)="groupSelected($event.value)"
          >
            <mat-option [value]="undefined">Изберете група</mat-option>
            <mat-option *ngFor="let group of groups" [value]="group">
              {{ group?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="two-on-row">
          <mat-select
            #dSel
            placeholder="{{ 'wl.discipline' | translate }}"
            formControlName="discipline"
          >
            <mat-option
              *ngFor="let discipline of gSel?.value?.disciplines"
              [value]="discipline"
            >
              {{ discipline?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="f-row">
        <mat-form-field class="two-on-row" [owlDateTimeTrigger]="dtStart">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dtStart"
            placeholder="{{ 'wl.startDateTimeIncl' | translate }}"
            [min]="minDate"
            [max]="maxDate"
            formControlName="startDate"
            id="startDate"
            readonly
          />
          <owl-date-time #dtStart [pickerType]="'calendar'"></owl-date-time>
          <mat-error *ngIf="isDateCorrect() === false">
            {{ 'wl.invalid_schedule_date' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="two-on-row" [owlDateTimeTrigger]="dtEnd">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dtEnd"
            placeholder="{{ 'wl.endDateTimeIncl' | translate }}"
            [min]="minDate"
            [max]="maxDate"
            formControlName="endDate"
            id="endDate"
            readonly
          />
          <owl-date-time #dtEnd [pickerType]="'calendar'"></owl-date-time>
          <mat-error *ngIf="isDateCorrect() === false"
            >{{ 'wl.invalid_schedule_date' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="three-on-row">
          <mat-label> {{ 'wl.select_event_type' | translate }}</mat-label>
          <mat-select name="type" formControlName="type">
            <mat-option
              *ngFor="let type of eventTypes | keyvalue"
              [value]="type.value"
              class="form-control"
              matTooltipPosition="right"
            >
              {{ type.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="f-row">
        <mat-form-field class="five-on-row">
          <mat-select
            value="days[0].key"
            placeholder="{{ 'wl.select_day' | translate }}"
            formControlName="dayOfWeek"
          >
            <mat-option *ngFor="let day of days" [value]="day.key">
              {{ day.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="five-on-row" [owlDateTimeTrigger]="dt1">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dt1"
            placeholder="{{ 'wl.startDateTime' | translate }}"
            [min]="minDate"
            formControlName="startHour"
            id="startHour"
            readonly
          />
          <owl-date-time
            #dt1
            [pickerType]="'timer'"
            hour12Timer="false"
          ></owl-date-time>
        </mat-form-field>

        <mat-form-field class="five-on-row" [owlDateTimeTrigger]="dt2">
          <input
            class="form-control"
            matInput
            [owlDateTime]="dt2"
            placeholder="{{ 'wl.endDateTime' | translate }}"
            [min]="minDate"
            formControlName="endHour"
            id="endHour"
            readonly
          />
          <owl-date-time
            #dt2
            [pickerType]="'timer'"
            hour12Timer="false"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <div class="button-bar">
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="close()"
        >
          <mat-icon>close</mat-icon>{{ 'wl.cancel' | translate }}
        </button>
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="reset()"
        >
          <mat-icon>clear_all</mat-icon>{{ 'wl.reset' | translate }}
        </button>
        <button mat-raised-button type="submit" color="primary">
          {{ 'wl.submit' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
  <pre>{{ addForm.value | json }}</pre>
</mat-card>
