@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:host {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.mat-cell,
.mat-header-cell {
  text-align: center !important;
}

mat-card {
  width: 100%;
  display: block;
}

mat-card-title,
mat-card-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  width: 100%;
  min-width: auto;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.pepe {
  display: flex;
  max-width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
}

.table-holder {
  display: flex;
  max-width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  align-items: flex-start;
  box-sizing: border-box;
}

.left_table {
  height: auto;
  flex: 0 1 calc(70% - 6px);
  width: 100%;
  margin: 3px;
  padding: 1px;
  box-sizing: border-box;
}
.right_table {
  height: auto;
  flex: 0 1 calc(30% - 6px);
  width: 100%;
  margin: 3px;
  padding: 1px;
  box-sizing: border-box;
}
