<mat-card>
  <mat-card-title> Добавяне на потребител </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addForm" class="addUserForm">
      <div class="f-row">
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.first_name' | translate }}"
            type="text"
            class="form-control"
            formControlName="firstName"
            id="firstName"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('firstName')">{{
            valido.getErrorMessage('firstName') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.middle_name' | translate }}"
            type="text"
            class="form-control"
            formControlName="middleName"
            id="middleName"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('middleName')"
            >{{ valido.getErrorMessage('middleName') | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.last_name' | translate }}"
            type="text"
            class="form-control"
            formControlName="lastName"
            id="lastName"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('lastName')">{{
            valido.getErrorMessage('lastName') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.birth_date' | translate }}"
            type="date"
            class="form-control"
            formControlName="birthdate"
            id="birthdate"
            required
          />
          <mat-error *ngIf="isFieldValid('birthdate')">{{
            valido.getErrorMessage('birthdate') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.address' | translate }}"
            type="text"
            class="form-control"
            formControlName="address"
            id="address"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('address')">{{
            valido.getErrorMessage('address') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.phone_number_private' | translate }}"
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            id="phoneNumber"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('phoneNumber')">
            {{ valido.getErrorMessage('phoneNumberPrivate') | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.email' | translate }}"
            type="text"
            class="form-control"
            formControlName="email"
            id="email"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="isFieldValid('email')">{{
            valido.getErrorMessage('email') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <mat-label> {{ 'wl.select_role' | translate }}</mat-label>
          <mat-select name="role" formControlName="role" required>
            <mat-option
              *ngFor="let role of roles"
              [value]="role"
              class="form-control"
              matTooltip="{{ role.descriptionBg }}"
              matTooltipPosition="right"
              id="role"
            >
              {{ role.roleBg }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldValid('role')">{{
            valido.getErrorMessage('role') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.username' | translate }}"
            type="text"
            formControlName="username"
            id="username"
            autocomplete="off"
            required
            matTooltip="Потребителското име трябва да е съставено от букви и цифри"
          />
          <mat-error *ngIf="isFieldValid('username')">{{
            valido.getErrorMessage('username') | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="five-on-row">
          <input
            matInput
            placeholder="{{ 'wl.password' | translate }}"
            type="text"
            class="form-control"
            formControlName="password"
            id="pwd"
            autocomplete="off"
            required
            matTooltip="Поне по една цифра, малка буква, голяма буква и специален символ. Минимлна дължина 6 символа."
          />
          <!-- <button
            class="eye-button"
            type="button"
            (click)="changePassType()"
            matSuffix
            mat-icon-button
          >
            <mat-icon>remove_red_eye</mat-icon>
          </button> -->
          <mat-error *ngIf="isFieldValid('password')">{{
            valido.getErrorMessage('password') | translate
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-bar">
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="goBack()"
        >
          {{ 'wl.cancel' | translate }}
        </button>
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="margin-right: 10px"
          (click)="reset()"
        >
          <mat-icon>clear_all</mat-icon>{{ 'wl.reset' | translate }}
        </button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="onSubmit()"
        >
          {{ 'wl.save' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
  <pre>{{ addForm.value | json }}</pre>
</mat-card>
