<loader [show]=show></loader>  
<div class="b-bar">
  <button class="mdc-fab" aria-label="Favorite" (click)="addEvent()" matTooltip="добавяне на събитие"  [disabled]="disableEdit === true">
    <div class="mdc-fab__exited"></div>
    <span class="mdc-fab__icon material-icons">add</span>
  </button>
  <button class="mdc-fab" aria-label="Favorite" (click)="openRoom()" matTooltip="remove this ====="  [disabled]="disableEdit === true">
    <div class="mdc-fab__exited"></div>
    <span class="mdc-fab__icon material-icons">remove</span>
  </button>
</div>
<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="paginator.slice">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{'wl.id'|translate}} </th>
      <td mat-cell *matCellDef="let event"> {{event.id}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> {{'wl.group_name' |translate}} </th>
      <td mat-cell *matCellDef="let event"> {{event.type}} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> {{'wl.subject' |translate}} </th>
        <td mat-cell *matCellDef="let event"> {{event.subject}} </td>
      </ng-container>
    <ng-container matColumnDef="starDateTime">
      <th mat-header-cell *matHeaderCellDef> {{'wl.start_time'|translate}} </th>
      <td mat-cell *matCellDef="let event"> {{event.starDateTime | date:'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>
    <ng-container matColumnDef="endDateTime">
      <th mat-header-cell *matHeaderCellDef> {{'wl.end_time'|translate}} </th>
      <td mat-cell *matCellDef="let event"> {{event.endDateTime | date:'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef> {{'wl.state'|translate}} </th>
      <td mat-cell *matCellDef="let group">
        <mat-slide-toggle #slide color="primary" style="padding-right: 10px;" (change)="changeGroupState($event)"
        [checked]="group.open === 1" [disabled]="disableEdit === true">

          <span *ngIf="!slide.checked" style="color: crimson;">затворена</span>
          <span *ngIf="slide.checked">отворена</span>
        </mat-slide-toggle>
      </td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="disciplines">
      <th mat-header-cell *matHeaderCellDef> {{'wl.disciplines'|translate}} </th>
      <td mat-cell *matCellDef="let group"> {{group.disciplines.length}} </td>
    </ng-container> -->
<!-- 
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> {{'wl.participants'|translate}} </th>
      <td mat-cell *matCellDef="let group"> {{group.students.length}} </td>
    </ng-container>
    <ng-container matColumnDef="lector">
      <th mat-header-cell *matHeaderCellDef> {{'wl.lector'|translate}} </th>
      <td mat-cell *matCellDef="let group">  <mat-icon *ngIf="group.lector" class="list-mat-icon">person</mat-icon>  </td>
    </ng-container>

    <ng-container matColumnDef="assistant">
      <th mat-header-cell *matHeaderCellDef> {{'wl.assistant'|translate}} </th>
      <td mat-cell *matCellDef="let group">
        <mat-icon *ngIf="group.assistant" class="list-mat-icon">person</mat-icon> 
    </ng-container> -->

   
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th> 
      <td mat-cell *matCellDef="let event">
        <button class="pepe-table-button" mat-raised-button (click)="editEvent(event)"  [disabled]="disableEdit === true">
          <mat-icon class="list-mat-icon">edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th> 
        <td mat-cell *matCellDef="let event">
          <button class="pepe-table-button" mat-raised-button (click)="deleteEvent(event)"  [disabled]="disableEdit === true">
            <mat-icon class="list-mat-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]=paginator.allElements [pageSize]=paginator.pageSize [pageSizeOptions]="paginator.pageOptions"
    showFirstLastButtons (page)="handlePage($event)"></mat-paginator> 
</div>