<loader [show]=show></loader>
<table class="statistic" class="mat-elevation-z8">
    <tr>
        <th class="card-td" colspan="6">важни събития</th>
    </tr>
    <tr>
        <th class="card-td">тип</th>
        <th class="card-td">дата</th>
        <th class="card-td">дисциплина</th>
    </tr>
    <tr *ngFor="let row of rows">
        <td class="card-td">{{row.type}}</td>
        <td class="card-td">{{row.date}}</td>
        <td class="card-td">{{row.discipline}}</td>
    </tr>
</table>
<router-outlet></router-outlet>