<div class="demo-app">
  <div class="b-bar">
    <mat-checkbox
      color="accent"
      [checked]="calendarOptions.weekends"
      (change)="handleWeekendsToggle()"
    >
      покажи/скрий почивни дни
    </mat-checkbox>
  </div>
  <div class="demo-app-sidebar">
    <div class="demo-app-sidebar-section">
      <div class="schedule-table">
        <!-- <div class="b-l-bar"></div> -->

        <div class="schedule-header">
          <button
            mat-mini-fab
            style="margin: 5px"
            aria-label="add something"
            (click)="openScheduleDialog(null)"
            matTooltip="Генерирай събития"
            [disabled]="user.role.role !== 'teacher'"
          >
            <mat-icon>add</mat-icon>
          </button>
          <h4 style="width: 100%; text-align: center">Предстоящи събития</h4>
        </div>

        <mat-divider></mat-divider>

        <cdk-virtual-scroll-viewport
          class="schedule-list"
          itemSize="10"
          orientation="vertical"
        >
          <ng-container *cdkVirtualFor="let schedule of autoSchedule">
            <div class="schedule-row" (click)="previewOrEdit(schedule)">
              <!-- <div>{{ discipline.name }}</div> -->
              <div>ООП : {{ schedule.disciplineId }}</div>
              <div>{{ schedule.startTime | date }}</div>
              <div>{{ schedule.endTime | date }}</div>
              <mat-divider></mat-divider>
            </div>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>

    <!-- <div class="demo-app-sidebar-section">
      <ul>
        <li *ngFor="let event of currentEvents">
          <b>{{ event.startStr }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
    </div> -->
  </div>

  <div class="demo-app-main">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
