<div class="demo-app">
  <div class="b-bar">
    <mat-checkbox
      color="accent"
      [checked]="calendarOptions.weekends"
      (change)="handleWeekendsToggle()"
    >
      покажи/скрий почивни дни
    </mat-checkbox>
    <button mat-mini-fab  (click)="openRoom()">
     add
    </button>
  </div>
  <div class="demo-app-sidebar">
    <div class="demo-app-sidebar-section">
      <div class="schedule-table">
        <div class="schedule-header">
          <button
            mat-mini-fab
            style="margin: 5px"
            aria-label="add something"
            (click)="openScheduleDialog(null)"
            matTooltip="Генерирай събития"
            [disabled]="user.role.role !== 'teacher'"
          >
            <mat-icon>add</mat-icon>
          </button>
          <h4 style="width: 100%; text-align: center">Предстоящи събития</h4>
        </div>
        <mat-divider></mat-divider>
        <cdk-virtual-scroll-viewport
          class="schedule-list"
          itemSize="10"
          orientation="vertical"
        >
          <ng-container *cdkVirtualFor="let eventDto of upcomingEvents">
            <div class="schedule-row" (click)="previewOrEdit(eventDto)">
              <div>{{ eventDto.discipline.name }} / {{ eventDto.type }}</div>
              <div>{{ eventDto.name }}</div>
              {{ eventDto.startDate | date: 'HH:mm' }} -
              {{ eventDto.endDate | date: 'HH:mm dd/MM/yyyy' }}
              <mat-divider></mat-divider>
            </div>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
  <div class="demo-app-main">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
