<!-- <div (window:resize)="onResize($event)"></div> -->
<mat-dialog-content [formGroup]="form">
    <div *ngIf="classType === 'group'">
        <h4 *ngIf="mode === 'create'">Добавяне на група</h4>
        <h4 *ngIf="mode === 'edit'">редактиране на група</h4>

        <div class="f-row">
            <mat-form-field class="half-field">
                <input matInput placeholder="name" formControlName="name" type="text" class="form-control"
                    autocomplete="off">
            </mat-form-field>
            <mat-form-field class="five-on-row">
                <input matInput placeholder="{{'wl.start_date' | translate}}" type="date" class="form-control"
                    formControlName="startDate" id="startDate" required>
                <mat-error *ngIf="isFieldValid('startDate')">{{valido.getErrorMessage('startDate') | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="five-on-row">
                <input matInput placeholder="{{'wl.end_date' | translate}}" type="date" class="form-control"
                    formControlName="end_date" id="end_date" required>
                <mat-error *ngIf="isFieldValid('end_date')">{{valido.getErrorMessage('end_date') | translate}}
                </mat-error>
            </mat-form-field>

            <!-- <div class="sp">
                <input matInput placeholder="{{'wl.open' | translate}}" formControlName="open" type="text"
                    class="form-control" autocomplete="off">
                <mat-slide-toggle #slide color="primary" formControlName="open" style="padding-right: 10px;"
                    (change)="changeSimState($event )">
                    <span *ngIf="!slide.checked" style="color: crimson;">barred</span>
                    <span *ngIf="slide.checked">active</span>
                </mat-slide-toggle>
            </div> -->
        </div>
    </div>

    <mat-dialog-actions class="dialog-button-bar" style="margin-bottom: 0 !important;">
        <button mat-raised-button class="pepe-button" color="primary" (click)="close()">{{'wl.cancel' |
            translate}}</button>
        <button mat-raised-button class="pepe-button" color="primary" (click)="save()">{{'wl.save' |
            translate}}</button>
    </mat-dialog-actions>
    <!-- <pre>{{form.value|json}}</pre> -->
</mat-dialog-content>